<header>

  <div id="dropdown-wrapper">
		<div id="control">
		<div id="close-dropdown">
		<i class="fas fa-times" onclick="closedropdown()"></i>
		</div>
		</div>
		<nav>
		<div>
		<ul>
		<li>
		<span class="icon"><img src="/assets/world.png" class="icon"></span> <a routerLink="/index" routerLinkActive="active">World News</a>
		</li>
		<li>
		<span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a [routerLink]="['/nigeria', {route: 'nigeria', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&keyword=nigeria&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'}]" routerLinkActive="active">Nigeria</a>
		</li>
    <li>
    <span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a routerLink="/nigeriaheadline" routerLinkActive="active">Nigeria Headlines</a>
    </li>
    <li style="display:block;">
    <span class="icon"><img src="/assets/sports.jpg" class="icon"></span><a routerLink="/nigeriaheadline" routerLinkActive="active">Sports</a>
<div class="toright"><i class="fas fa-angle-right" onclick="expanding();"></i></div>
    </li>


<div class="newspaperdiv noborder">
  <ul>
    <li>
    <span class="icon"><img src="/assets/sports.jpg" class="icon"></span><a [routerLink]="['/skysports', {
      route: 'skysports', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=skysports.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

    }]" routerLinkActive="active">Sky Sports</a>
    </li>
    <li>
    <span class="icon"><img src="/assets/sports.jpg" class="icon"></span>
    <a [routerLink]="['/goal', {
      route: 'goal', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=goal.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

    }]" routerLinkActive="active">Goal</a>
    </li>
    <li>
    <span class="icon"><img src="/assets/sports.jpg" class="icon"></span><a routerLink="/nigeriaheadline" routerLinkActive="active">Sports</a>
    </li>



  </ul>

</div>

</ul>
    <div class="newspaperdiv">
      <ul>
        <li>
        <span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a [routerLink]="['/thepunch', {
          route: 'thepunch', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=punchng.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

        }]" routerLinkActive="active">The Punch</a>
        </li>
        <!-- <li>
    		<span class="icon"><img src="/assets/guardian.png" class="icon"></span><a [routerLink]="['/guardian', {}]" routerLinkActive="active">The Guardian News</a>
    		</li> -->
        <li>
        <span class="icon"><img src="/assets/world.png" class="icon"></span><a [routerLink]="['/cnn', {
          route: 'cnn', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=edition.cnn.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'
        }]" routerLinkActive="active">CNN</a>
        </li>

        <li>
        <span class="icon"><img src="/assets/world.png" class="icon"></span><a [routerLink]="['/aljazeera', {
          route: 'aljazeera', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=aljazeera.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'
        }]" routerLinkActive="active">Al Jazeera</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a [routerLink]="['/saharareporters', {
          route: 'saharareporters', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=saharareporters.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

        }]" routerLinkActive="active">Sahara Reporters</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a [routerLink]="['/tribune', {
          route: 'tribune', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=tribuneonlineng.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

        }]" routerLinkActive="active">Tribune</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/nigeria.png" class="icon"></span><a [routerLink]="['/dailytrust', {
          route: 'dailytrust', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=dailytrust.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'

        }]" routerLinkActive="active">Daily Trust</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/world.png" class="icon"></span><a [routerLink]="['/msn', {
          route: 'msn', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=msn.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'
        }]" routerLinkActive="active">Msn International</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/world.png" class="icon"></span><a [routerLink]="['/bbc', {
          route: 'bbc', url:'https://eventregistry.org/api/v1/article/getArticles?resultType=articles&sourceUri=bbc.com&includeArticleImage=true&lang=eng&dateStart=2019-01-09&forceMaxDataTimeWindow=31'
        }]" routerLinkActive="active">BBC</a>
        </li>
        <li>
        <span class="icon"><img src="/assets/world.png" class="icon"></span><a [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </li>
      </ul>


    </div>



		</div>
		</nav>



		</div>
		<div id="menu">
		<button id="menu-button" onclick="expand()">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
		</button>
		</div>
		<div id="logo">
		<img src="../assets/logo.jpg" />
		<div id="app-name"> News </div>
		</div>

		<!-- <app-back></app-back>
		<div id="back">
		<img class="fas fa-arrow"></i>
		</div> -->
		<div id="search-area">
      <i class="fas fa-search nobigdisplay" id="togglesearch" onclick="displaysmall();"></i>

    <div class="flexdisplay togglesearch ">
<span class="close togglesearch" onclick="closesmall();">x</span>
      <select name="filter" id="filter" onchange="changeplaceholder();" [(ngModel)]="filterby">
        <option value="">Filter By </option>
        <option value="date"> Date </option>
        <option value="keywords"> Keywords </option>
        <option value="country"> Country </option>
      </select>
		<input type="search" placeholder="search" id="searchword" class="searchword" [(ngModel)]="searchword" >
    <img src="/assets/searchicon.png" class="searchicon" (click)="search();">	</div>
    <i class="fas fa-arrow-left" id="goback" ></i>

    </div>

</header>
<div *ngIf="loading" class="blurr">
  <div class="blur">
  <div class="rotate">
    </div>
  </div></div>

<div class="main-news" id="main-news">
  <div class="socialmedia">
<div class="roundfacebook" onclick="sharedata();">
  <i class="fab fa-facebook-f"></i>
  </div>
  <div class="roundtwitter">
    <a href="https://twitter.com/intent/tweet?text=Read News From Everywhere and From All Sources https://functions-news.web.app"
url="http://jineosy.com">
<i class="fab fa-twitter"></i>

</a>
    </div>
    <div class="roundwhatsapp">

      <a href="https://api.whatsapp.com/send?text=Read News From All Over the World and From All Sources   https://functions-news.web.app">
        <i class="fab fa-whatsapp"></i>

      </a>
      </div>

  </div>
<router-outlet></router-outlet>
</div>
