<div class="newsblock" >
<div class="topic" >
{{data.title}}
    </div>
<div class="image">
  <img src="{{data.image}}">
  </div>
<div class="slash">
  {{data.date+" / "+data.title+" / "+data.source.title}}
</div>
<div class="body" id="body">
{{""+display(data.body)}}
</div>

<div class="by"> Read more at
<a href="{{data.url}}">{{data.source.title}}</a>
  </div>
  <div class="readmore">
    <button id="goback2"> BACK </button>

    </div>
    <hr>
    <div class="advertisedown">
      <div class="advertise">
        <span class="reddish">
          Want a classy, clean and responsive website like this one?

          </span>
          Contact <a href="mailto: assidiiq25@gmail.com">assidiiq25@gmail.com</a> or
          Visit <a href="https://functions-web.web.app">Functions Web</a>
        </div>
        <div class="reserved">
          &copy; All Rights Reserved. FunctionswebDevelopment@2020<br/>
          Website Developed With Angularjs by FunctionswebDevelopment.
          </div>

      </div>
</div>
