

<h1 class="headline">
	Headline
	</h1>
<router-outlet></router-outlet>
	<div class="newsblock" *ngFor="let datas of data.Mynews">
		<div class="words">
		<div class="mobile-source">
		{{datas.source.title}}
			</div>
		<div class="title">

			<a [routerLink]="['/'+spit.route+'/'+datas.uri, {
				route: spit.route,
				url: spit.url


			}]" routerLinkActive="active">{{datas.title}}</a>
		</div>
		<div class="sourceandtime">
			<div class="source">
				{{datas.source.title}}
			</div>
			<div class="time">
			{{hoursiago(datas.dateTime)}}
			</div>
		</div>
		</div>
		<div class="picture">
			<div class="imghund">
			<img src="{{datas.image}}">
			</div>
		</div>

	</div>
